[data-runtime='desktop'] .app-window {
  width: 100%;
  height: 100%;
}
[data-runtime='desktop'][data-material='unavailable'] .app-window {
  background: #f0f7fb;
}
[data-runtime='desktop'][data-material='unavailable'][data-theme='dark'] .app-window {
  background: #111d25;
}
