.preview {
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;
  background: transparent;
}
.desktop {
  display: block;
}
.dragArea {
  position: absolute;
  inset: 0 100px auto 0;
  height: 28px;
  z-index: 5;
}
